*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}

p {
  color: #fff;
  line-height: 1.5;
}

h2 {
  font-size: 4rem;
  color: #fff;
}

.img {
  margin: 5rem 2rem;
}

.image_div {
  width: 70%;
}

.image_div img {
  width: 100%;
}

.content {
  width: 70%;
  text-align: center;
}

.content h2 {
  margin-bottom: 2rem;
}

.btn {
  margin-top: 4rem;
  padding: 2rem 3rem;
  border-radius: 40px;
  background: #fff;
  width: 80%;
}

.icon_container {
  width: 70%;
  color: #fff;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.icon_container span {
  padding: 0.8rem 1rem;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 100%;
}

.grid {
  display: grid;
  gap: 5rem;
  justify-items: center;
}

@media screen and (min-width: 1140px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
  }

  .btn {
    width: 50%;
  }

  .content {
    text-align: left;
    width: 90%;
  }

  .icon_container {
    grid-column: span 2;
    justify-self: end;
    transform: translateX(40%);
  }
}
